@charset "UTF-8";
/**
 * html5doctor.com Reset Stylesheet v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/)
 * Richard Clark (http://richclarkdesign.com)
 * http://cssreset.com
 */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul, ul, ol, li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

/* CLEARFIX */
.header > .block, .member-list, .event-list {
  zoom: 1;
}
.header > .block:before, .member-list:before, .event-list:before, .header > .block:after, .member-list:after, .event-list:after {
  content: "";
  display: table;
}
.header > .block:after, .member-list:after, .event-list:after {
  clear: both;
}

html {
  font-size: 10px;
}

body {
  font-family: Avenir, "Helvetica Neue", Helvetica, Arial, Verdana, Roboto, "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo UI", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 1em;
  text-align: center;
  color: #333;
}

img {
  max-width: 100%;
  height: auto;
}

.is_splash .body-wrap {
  position: fixed;
  width: 100%;
}

.splash {
  display: table;
  position: fixed;
  z-index: 10000;
  width: 100%;
  height: 1000px;
  margin: auto;
  background-color: #fff;
}
.splash__content {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.splash__content-text {
  display: none;
}
.splash__content-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -80px;
  margin-left: -67px;
  opacity: 0;
  transition: 1.7s;
}
.splash__content-logo.rotate {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.header {
  display: none;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  padding: 15px 20px 0;
}
.header__logo {
  float: left;
  margin-right: 40px;
  opacity: .5;
  transition: .4s;
}
.header__logo:hover {
  opacity: 1;
}
.header__list {
  float: left;
}
.header__list-item {
  display: inline-block;
}
.header__list-item:not(:first-child) {
  margin-left: 20px;
}
.header__list-anchor {
  position: relative;
  display: block;
  padding-top: 15px;
  font-size: 12px;
  color: #c9bc9c;
  letter-spacing: 4px;
  text-decoration: none;
  text-align: center;
  opacity: .5;
  transition: .4s;
}
.header__list-anchor:after {
  content: '';
  display: block;
  width: 0;
  height: 5px;
  margin: 0 auto;
  border-bottom: 2px solid #c9bc9c;
  transition: .4s;
}
.header__list-anchor:hover {
  opacity: 1;
}
.header__list-anchor:hover:after {
  width: 100%;
}

.information {
  position: fixed;
  right: 30px;
  bottom: 45px;
  z-index: 1000;
}
.information__list-item-hover .information__list-icon-news-hover {
  position: absolute;
  opacity: 0;
  transition: .2s;
}
.information__list-item-hover .information__list-icon-news {
  transition: .2s;
}
.information__list-item-hover:hover .information__list-icon-news-hover {
  opacity: 1;
  -webkit-transform: rotateY(360deg) scale(2);
          transform: rotateY(360deg) scale(2);
}
.information__list-item-hover:hover .information__list-icon-news {
  opacity: 0;
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}
.information__list-item {
  margin-top: 15px;
}
.information__list-icon {
  display: block;
}
.information__list-icon-fb, .information__list-icon-tw {
  transition: .2s;
}
.information__list-icon-fb:hover, .information__list-icon-tw:hover {
  -webkit-transform: rotateY(360deg) scale(1.4);
          transform: rotateY(360deg) scale(1.4);
}

@media screen and (max-width: 768px) {
  .information {
    right: 20px;
    bottom: 20px;
  }
  .information__list-item {
    margin-top: 10px;
  }
  .information__list-icon {
    display: block;
  }
  .information__list-icon-news {
    width: 44px;
    height: auto;
  }
  .information__list-icon-fb, .information__list-icon-tw {
    width: 44px;
    height: auto;
  }
  .information__list-icon-fb:hover, .information__list-icon-tw:hover {
    -webkit-transform: rotateY(360deg) scale(1.4);
            transform: rotateY(360deg) scale(1.4);
  }
  .information__list-icon-tw {
    width: 44px;
    height: auto;
  }
}
.first-view {
  position: relative;
  display: table;
  width: 100%;
  background: url(images/main-bg.jpg) no-repeat top center;
  background-size: cover;
  background-attachment: fixed;
}

.mainlogo {
  position: relative;
  left: 18%;
  display: table-cell;
  width: 180px;
  vertical-align: middle;
}
.mainlogo__logo {
  display: block;
  margin: 0 auto 30px;
}
.mainlogo__en {
  display: block;
  margin: 0 auto 70px;
}

.first-view-btn {
  position: absolute;
  bottom: 45px;
  width: 100%;
}

.first-view-arrow {
  position: absolute;
  bottom: 60px;
  left: 50%;
  margin-left: -18px;
}

@media screen and (max-width: 768px) {
  .first-view {
    background-position: left top;
    background-attachment: scroll;
  }

  .mainlogo {
    left: 0;
    width: 100%;
  }

  .first-view-btn {
    bottom: 80px;
    left: 50%;
    width: 160px;
    margin-left: -80px;
  }

  .first-view-arrow {
    bottom: 20px;
  }
}
.block-wrap {
  width: 100%;
  padding: 60px 0;
}
.block-wrap:first-of-type {
  padding-top: 120px;
}
.block-wrap:last-of-type {
  padding-bottom: 0;
}

.block {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
}
.block__heading {
  margin-bottom: 30px;
  font-size: 1.2rem;
}
.block__read {
  margin-bottom: 60px;
  font-size: 1.4rem;
  letter-spacing: 4px;
}
.block__description, .block__description_textcolor-orange {
  font-size: 1.4rem;
  line-height: 2.4;
}
.block__description_textcolor-orange {
  padding: 5px;
  color: #ea5514;
  text-decoration: none;
}
.block__description_textcolor-orange:hover {
  background-color: yellow;
}
.block__description_textsize-large {
  font-size: 1.8rem;
  line-height: 2;
}
.block__description_text-important {
  font-size: 2.4rem;
  font-weight: normal;
  letter-spacing: 10px;
}
.block__description__description_sp-br {
  display: none;
}
.block__send-mail {
  margin-bottom: 30px;
  font-size: 4rem;
}
.block__send-mail-address {
  color: #333;
  text-decoration: none;
  transition: .4s;
}
.block__send-mail-address:hover {
  background-color: yellow;
  letter-spacing: 1px;
}
.block__site-uri {
  margin-bottom: 70px;
  font-size: 1.4rem;
}

@media screen and (max-width: 768px) {
  .block-wrap {
    padding: 40px 0;
  }
  .block-wrap:first-of-type {
    padding-top: 80px;
  }

  .block {
    box-sizing: border-box;
    width: 100%;
    padding: 0 10px;
  }
  .block__read {
    margin-bottom: 40px;
    font-size: 1.2rem;
  }
  .block__description, .block__description_textcolor-orange {
    font-size: 1.0rem;
    line-height: 2;
  }
  .block__description_textcolor-orange {
    display: block;
    width: 200px;
    margin: 10px auto 0;
    border: 1px solid #ea5514;
  }
  .block__description_textsize-large {
    font-size: 1.2rem;
    line-height: 2;
  }
  .block__description_text-important {
    font-size: 1.8rem;
    letter-spacing: 5px;
  }
  .block__description__description_sp-br {
    display: inline-block;
  }
  .block__send-mail {
    margin-bottom: 30px;
    font-size: 2.8rem;
  }
}
.todo-list {
  display: table;
  width: 100%;
  margin: 0 auto 70px;
}
.todo-list__item {
  display: table-cell;
  padding: 0 2%;
}
.todo-list__icon, .todo-list__icon-owner, .todo-list__icon-food, .todo-list__icon-journey, .todo-list__icon-media {
  padding-top: 28px;
  background: url(images/todo-icon-01.png) no-repeat center center;
  background-size: auto 100%;
  transition: .3s;
}
.todo-list__icon:hover, .todo-list__icon-owner:hover, .todo-list__icon-food:hover, .todo-list__icon-journey:hover, .todo-list__icon-media:hover {
  background-position: center 8px;
  background-size: auto 30%;
}
.todo-list__icon-owner {
  background-image: url(images/todo-icon-02.png);
}
.todo-list__icon-food {
  background-image: url(images/todo-icon-03.png);
}
.todo-list__icon-journey {
  background-image: url(images/todo-icon-04.png);
}
.todo-list__icon-media {
  background-image: url(images/todo-icon-05.png);
}
.todo-list__icon-image {
  display: block;
  width: auto;
  height: 27px;
  margin: auto;
}
.todo-list__read {
  width: auto;
  margin-top: 15px;
  font-size: 1.2rem;
}

@media screen and (max-width: 768px) {
  .todo-list {
    display: table;
    width: 100%;
    margin-bottom: 20px;
  }
  .todo-list__item {
    display: block;
    margin-bottom: 30px;
  }
}
.member-list {
  width: 740px;
  margin: 0 auto 70px;
}
.member-list__item {
  float: left;
  width: 21%;
  margin: 0 2% 60px;
}
.member-list__item .member-list__member-photo-image-hover {
  position: absolute;
  opacity: 0;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  transition: .2s;
}
.member-list__item .member-list__member-photo-image {
  transition: .2s;
}
.member-list__item:hover .member-list__member-photo-image-hover {
  opacity: 1;
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}
.member-list__item:hover .member-list__member-photo-image {
  opacity: 0;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.member-list__member-name {
  margin-top: 15px;
  font-size: 1.4rem;
}
.member-list__member-born {
  margin-top: 5px;
  font-size: 1.2rem;
}

@media screen and (max-width: 768px) {
  .member-list {
    width: 100%;
    margin-bottom: 20px;
  }
  .member-list__item {
    float: left;
    width: 31.333333%;
    margin: 0 1% 30px;
  }
  .member-list__member-name {
    margin-top: 10px;
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 512px) {
  .member-list {
    width: 100%;
    margin-bottom: 0;
  }
  .member-list__item {
    float: left;
    width: 48%;
    margin: 0 1% 30px;
  }
  .member-list__member-name {
    margin-top: 10px;
    font-size: 1.2rem;
  }
}
.event-list {
  margin-bottom: 35px;
}
.event-list__item {
  position: relative;
  float: left;
  width: 50%;
  overflow: hidden;
}
.event-list__item-link {
  color: #333;
}
.event-list__item:hover .event-list__heading, .event-list__item:hover .event-list__heading-nemuro {
  background-size: 110% auto;
  transition: 4s;
}
.event-list__item:hover .event-list__slide-content {
  bottom: 0;
  opacity: 1;
  transition: .4s;
}
.event-list__heading, .event-list__heading-nemuro {
  padding-bottom: 56%;
  background: url(images/event-01-murakami.jpg) no-repeat bottom center;
  background-size: 100% auto;
  transition: 1s;
}
.event-list__heading-nemuro {
  background-image: url(images/event-02-nemuro.jpg);
}
.event-list__slide-content {
  box-sizing: border-box;
  position: absolute;
  bottom: -100px;
  width: 100%;
  padding: 15px 60px;
  background-color: rgba(255, 255, 255, 0.7);
  text-align: left;
  opacity: 0;
  transition: .3s;
}
.event-list__slide-heading {
  margin-bottom: 15px;
  font-size: 1.4rem;
  font-weight: normal;
}
.event-list__slide-description {
  line-height: 1.6;
}

@media screen and (max-width: 768px) {
  .event-list {
    margin-bottom: 0;
  }
  .event-list__item {
    float: none;
    width: 100%;
    margin-bottom: 30px;
    overflow: visible;
  }
  .event-list__item:hover .event-list__heading, .event-list__item:hover .event-list__heading-nemuro {
    background-size: 100% auto;
    transition: 0s;
  }
  .event-list__item:hover .event-list__slide-content {
    transition: 0s;
  }
  .event-list__slide-content {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 15px 0;
    opacity: 1;
    transition: 0s;
  }
}
.footer {
  padding-bottom: 50px;
}
.footer__logo {
  margin-bottom: 40px;
}
.footer__copies {
  width: 100%;
  padding: 20px 0 20px;
}

.share {
  margin-bottom: 70px;
}
.share__item {
  display: inline-block;
  margin: 0 8px;
}

.animate-arrow {
  position: relative;
  top: 0;
  -webkit-animation: animate-arrow 1.8s ease 0s infinite normal;
          animation: animate-arrow 1.8s ease 0s infinite normal;
}

@-webkit-keyframes animate-arrow {
  0% {
    top: 0;
  }
  10% {
    top: 10px;
  }
  25% {
    top: 0;
  }
  35% {
    top: 10px;
  }
  50% {
    top: 0;
  }
  100% {
    top: 0;
  }
}

@keyframes animate-arrow {
  0% {
    top: 0;
  }
  10% {
    top: 10px;
  }
  25% {
    top: 0;
  }
  35% {
    top: 10px;
  }
  50% {
    top: 0;
  }
  100% {
    top: 0;
  }
}
.btn__default {
  display: block;
  padding: 14px 28px;
  background-color: #3665a1;
  font-size: 1.2rem;
  color: #fff;
  text-decoration: none;
  transition: .3s;
}
.btn__default:hover {
  background-color: #fff;
  color: #3665a1;
}

@media screen and (max-width: 768px) {
  .btn__default {
    font-size: 1.0rem;
  }
}
.animate-logo {
  position: relative;
  width: 234px;
  height: 180px;
  margin: 0 auto 30px;
}
.animate-logo__about-animate-fadein {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: .6s;
}
.animate-logo path {
  fill: #fff;
}
.animate-logo.animate-complete .animate-logo__about-animate-fadein {
  opacity: 1;
}

.js_animateText {
  opacity: 0;
}
.js_animateText .block__description_text-important {
  opacity: 0;
}
